<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('../../layouts/head') %>
  </head>

  <body>
    <header>
      <%- include('../../layouts/header') %>
    </header>

    <main>
      <h4>Search Results</h4>
        <ul class="search-results">
          <% results.forEach(book => { %>
            <li id= <%= book.isbn %>
              <%- include('../books/detail', {book: book}); %>
              <p class="detail-button"><a href="/books/<%= book.id %>">View details</a></p>
              <p class="detail-button"><a href="/books/<%= book.id %>">Add book</a></p>
            </li>
          <% }); %>
        </ul>
    </main>

    <footer>
      <%- include('../../layouts/footer') %>
    </footer>
  </body>
</html>

