<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('../../layouts/head') %>
  </head>

  <body>
    <header>
      <%- include('../../layouts/header') %>
    </header>

    <main>
      <h4>Search Results</h4>
        <ul class="search-results">
          <% results.forEach(book => { %>
            <li id= <%= book.isbn %>
              <%- include('../books/detail', {book: book}); %>
              <button type="button" class="detail-button">Select this Book</button>
            </li>
          <% }); %>
        </ul>
        
    </main>

    <footer>
      <%- include('../../layouts/footer') %>
    </footer>
  </body>
</html>

