<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('../layouts/head') %>
  </head>
  <body>
    <header>
        <%- include('../layouts/header') %>
    </header>
    <main>
      <h4>Search Results</h4>
        <ul class="search-results">
          <% searchResults.forEach(results => { %>
            <li id= <%= book.isbn %>
              <div class="book-containder">
                <img src=<%= results.image_url %>>
                <section>
                  <h3><%= results.title %></h3>
                  <span><%= results.author %></span>
                  <p class="description"><%= results.description %></p>
              </section>
            </div>
          </li>
        <% }); %>
        </ul>
    </main>
  </body>
</html>

