<!-- home page, shows book collection -->

<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('../layouts/head') %>
  </head>

  <body>
    <header>
      <%- include('../layouts/header') %>
    </header>

    <main>
      <h4>Saved Results</h4>
        <p>Total number of books: <%= results.length %></p>
        <ul id="search-results">
          <% results.forEach(function(book) { %>
            <li class="book-items" data-book-id=" <%= book.id %>">
              <%- include('books/detail', {book: book}); %>
              <p class="detail-button"><a href="/books/<%= book.id %>">View details</a></p>
            </li>
          <% }) %>
        </ul>
    </main>

    <footer>
      <%- include('../layouts/footer') %>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>

