<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/icons.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/modules.css">
    <style>
      @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600');
    </style>
    <title>Book Search Results</title>
  </head>
  <body>
    <header>
      <h1>Best Books!</h1>
    </header>
    <main>
      <h4>Search Results</h4>
        <ul class="search-results"></ul>
          <% getBooks.forEach(id => { %>
            <li data-book-id= <%= results.isbn %>
              <div class="book-container">
                <img src=<%= results.image_url %>
                <section>
                  <h3><%= results.title %></h3>
                  <span><%= results.author %></span>
                  <p class="desc"><%= results.description %></p>
                </section>
              </section>
            </li>
          <% }); %>
          </ul>
    </main>
  <footer>
</html>

